<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Training</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <h2>Candidates</h2>
            <ul class="list-group">
                <li v-for="candidate in sortedCandidates" class="list-group-item">
                    <p>{{ candidate.name }}:</p>
                    <strong> {{ candidate.votes }} </strong>
                    <button class="btn btn-default" @click="candidate.votes++">Vote</button>
                </li>
            </ul>
            <button class="btn btn-danger" @click="resetVotes">Reset</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>