.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 600px;
}

.container h2 {
    margin: 20px;
}

.list-group {
    width: 400px;
    margin: 0 auto 50px;
}

.list-group-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.list-group-item:first-of-type {
    background-color: rgba(127, 251, 255, .26);
}

.list-group-item p {
    min-width: 70px;
    margin: 0;
}

.list-group-item button {
    margin-left: auto;
}

.btn-danger {
    width: 300px;
}